/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "comic style";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

/* KLEURTJES */

html {
  color-scheme: light dark;

  --brand-primary-color: rgb(255, 255, 255);
  /* --brand-accent-color: rgb(177, 98, 28); */
  @media (prefers-color-scheme: dark) {
    color-scheme: light;
    --brand-primary-color: rgb(110, 8, 8);
    /* --brand-accent-color: rgb(88, 59, 103); */
  }
  background-image: light-dark(
    url("../../img/eigenstad.png"),
    /* shot uit sunflower gepakt, (via licence free site) toen zelf via chat gpt spiderman er uit gehaald en kleuren warmer/exremer gemaakt */
    url("../../img/eigenstad3.png") /* toen img met filter zwart wit gemaakt*/
  );
  /* light dark met sanne gedaan, ik ben er wel achter gekomen dat nu na deze verandering op telefoon de achtergrond weggaat maar heb dat nog niet zelf weten te fixen, sinds de light dark mode ook de letterkleur niet meer kunnen veranderen */
  min-height: 100dvh;
  background-size: cover;
  background-position: center center;
}
/*styling img en article in popovers hier*/

section {
  width: 30em;
  height: 30em;
  padding: 3em;
  border-radius: 3em;
  background-color: rgb(255 255 255 / 0.25);
  backdrop-filter: blur(0.25em);
  @media (prefers-color-scheme: dark) {
    border-color: var(--brand-primary-color);
  }

  img {
    width: auto;
    height: 40dvw;
    @media (width > 50em) {
      height: 20em;
    }
  }

  ul {
    padding: 0%;
    margin: 0%;
    font-weight: bold;
  }

  @media (width<30em) {
    width: auto;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding: 2em;
  }
}

dialog {
  width: 30em;
  height: 30em;
  padding: 3em;
  border-radius: 3em;
  background-color: rgb(255 255 255 / 0.25);
  backdrop-filter: blur(0.25em);
  @media (width<30em) {
    width: auto;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding: 2em;
  }
}
/* sanne heeft geholpen met de light dark code om het een toggle te maken */
@media (prefers-color-scheme: dark) {
  label:has([value="dark"]) {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  label:has([value="light"]) {
    display: block;
  }
}
/* als er light gekozen is */
html:has([value="light"]:checked) {
  color-scheme: light;
}

html:has([value="light"]:checked) label:has([value="dark"]) {
  display: block;
}

html:has([value="light"]:checked) label:has([value="light"]) {
  display: none;
}

/* als er dark gekozen is */
html:has([value="dark"]:checked) {
  color-scheme: dark;
}

html:has([value="dark"]:checked) label:has([value="dark"]) {
  display: none;
}

html:has([value="dark"]:checked) label:has([value="light"]) {
  display: block;
}
input[type="radio"] {
  display: none;
}

/* WRAPPERS */

body {
  font-family: "comic style", sans-serif;
  margin: 0;
  background: var(--brand-accent-color);
}

/* ALGEMENE button styling */

button {
  cursor: pointer;
  background: none; /* background en border weggehaald omdat je ze anders links boven in beeld heel klein allemaal zag*/
  border: none;
}

button img:hover {
  filter: drop-shadow(0 0 1em rgb(221, 221, 126));
}
button:focus-visible {
  filter: drop-shadow(0 0 1em rgb(221, 221, 126));
}

/* styling ying yang hier gezet zodat hij dicht bij de light dark mode styling staat*/
label {
  z-index: 40;
  position: fixed;
  bottom: 75%;
  left: calc(50% - 13rem);

  @media (width > 85em) {
    left: calc(50% - 14.3rem);
    bottom: 78%;
  }
  img {
    width: 2em;
  }
}

label img:hover {
  filter: drop-shadow(0 0 1em rgb(221, 221, 126));
}

/* STAD */
picture {
  z-index: 10;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (prefers-color-scheme: dark) {
    display: none;
  }
} /* ik dacht dat deze weg kon na dat ik de img heb replaced voor background image en daar boven nieuwe stijling voor heb maar als ik de code weghaal klopt de uitlijning niet meer dus laat ik het toch maar hier */

/* BOOT */
button:nth-of-type(3) {
  /* van sanne hulp gekregen over basis van animatie toen zelf gekeken naar hoe ik schommel effect kan toevoegen */
  img {
    z-index: 40;
    position: fixed;
    width: 11em;
    top: 38%;
    left: -11em;

    animation-name: --vikingschip-animatie;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes --vikingschip-animatie {
  0% {
    translate: calc((100dvw + 11rem) * -0.5);
  }
  7% {
    translate: calc((100dvw + 11rem) * -0.37);
  }
  15% {
    translate: calc((100dvw + 11rem) * -0.25);
  }
  23% {
    translate: calc((100dvw + 11rem) * -0.13);
  }
  30% {
    translate: calc((100dvw + 11rem) * 0);
  }
  37% {
    translate: calc((100dvw + 11rem) * 0.13);
  }
  45% {
    translate: calc((100dvw + 11rem) * 0.25);
  }
  53% {
    translate: calc((100dvw + 11rem) * 0.37);
  }
  60% {
    translate: calc((100dvw + 11rem) * 0.5);
  }
  67% {
    translate: calc((100dvw + 11rem) * 0.63);
  }
  75% {
    translate: calc((100dvw + 11rem) * 0.75);
  }
  87% {
    translate: calc((100dvw + 11rem) * 0.87);
  }
  100% {
    translate: calc((100dvw + 11rem) * 1);
  }
  113% {
    translate: calc((100dvw + 11rem) * 1.13);
  }
}

/*zittend persoon*/
body > img:nth-of-type(1) {
  position: fixed;
  z-index: 20;
  width: 100dvw;
  height: 100dvh;
  object-fit: cover;
  top: 0;
  left: 0;
}
body > img:nth-of-type(2) {
  position: fixed;
  z-index: 20;
  width: 100dvw;
  height: 100dvh;
  object-fit: cover;
  top: 0;
  left: 0;
}
/*xxx graffiti*/
button:nth-of-type(1) {
  z-index: 50;
  position: fixed;
  right: calc(50% - 16.3rem);
  bottom: 0rem;
  width: 3.3rem;

  background: yellow;

  @media (width > 87em) {
    bottom: -2.6rem;
    right: calc(50% - 18rem);
    width: 3.5rem;
  }

  img {
    /* z-index: 50;
    position: fixed;
    right: calc(50% - 16.3rem);
    bottom: 0rem;
    width: 3.3rem; */

    width: 100%;
  }
}
/*999 graffiti*/
button:nth-of-type(2) {
  img {
    z-index: 30;
    position: fixed;
    right: calc(50% - 13.2rem);
    bottom: -0.7rem;
    width: 6.5rem;

    @media (width > 87em) {
      bottom: -3.2em;
      right: calc(50% - 14.4rem);
      width: 6.7rem;
    }
  }
}
/*pokemon tower*/
button:nth-of-type(4) {
  img {
    z-index: 35;
    position: fixed;
    left: calc(50% - 7.8rem);
    bottom: 59%;
    object-fit: cover;
    width: 19rem;

    @media (width > 87em) {
      bottom: 61%;
    }
  }
}

/*muziekding*/
button:nth-of-type(5) {
  img {
    z-index: 40;
    position: fixed;
    bottom: 0%;
    left: calc(50% - 12.5rem);
    width: 9rem;
  }
}
/*luffy straw hat*/
button:nth-of-type(6) {
  img {
    z-index: 40;
    position: fixed;
    bottom: 25%;
    left: calc(50% - 5.2rem);
    width: 6rem;
    @media (width > 87em) {
      bottom: 24%;
      left: calc(50% - 5.4rem);
    }
  }
}
/* veel @media toegevoegd om te zorgen dat het in kleiner scherm op de goede plek is maar zodat het ook in fullscreen goed staat (alles deed het ook op telefoon maar sinds ik met sanne light dark mode heb toegevoegd is de achtergrond op telefoon weg en het is mij nog niet gelukt dit te herstellen)*/

button:nth-of-type(7) {
  img {
    z-index: 45;
    position: fixed;
    width: 11em;
    top: 5%;
    left: -11em;

    animation-name: --vliegtuig-animatie;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes --vliegtuig-animatie {
  100% {
    translate: calc((100dvw + 11rem) * -0.5);
  }

  50% {
    translate: calc((100dvw + 11rem) * 0.13);
  }

  0% {
    translate: calc((100dvw + 44rem) * 0.75);
  }
}
